.plugin-captivating-theme {
    .theme-plugin-avfc-mode {
    --theme-page: #352245;
    --theme-page-text: #352245;
    --theme-page-text-light: #352245;
    --theme-page-instructions-text: #352245;
    --theme-page-instructions-background: rgba(103, 14, 54, 0.4);
    --theme-modal: #fff;
    --theme-intro-gradient-1: rgba(103, 14, 54, 0.04);
    --theme-intro-gradient-2: rgba(255, 255, 255, .95);
    --theme-header-text: #352245;
    --theme-caption-text: #352245;
    --theme-caption-read: #352245;
    --theme-announcements-gradient-1: rgba(255, 255, 255, 0);
    --theme-announcements-gradient-2: rgba(255, 255, 255, .95);
    --theme-line-separator: #352245;
    --theme-wallet-overview-border: #352245;
    --theme-table-row-hover: #352245;
    --theme-transaction-sent: #352245;
    --theme-transaction-sent-arrow: #352245;
    --theme-transaction-received: #352245;
    --theme-transaction-received-arrow: #352245;
    --theme-send-circle-second-signature: #352245;
    --theme-send-circle-second-signature-text: #352245;
    --theme-send-circle-register-delegate: #352245;
    --theme-send-circle-register-delegate-text: #352245;
    --theme-send-circle-vote: #352245;
    --theme-send-circle-vote-text: #352245;
    --theme-transaction-detail-gradient1: #352245;
    --theme-transaction-detail-gradient2: #352245;
    --theme-transaction-detail-arrow: #352245;
    --theme-wallet-new-selected: #352245;
    --theme-wallet-new-unselected: #352245;
    --theme-wallet-sign-verify-message-text: #352245;
    --theme-wallet-grid-shadow: 0 5px 30px rgba(103, 14, 54, 0);
    --theme-feature: #560013;
    --theme-feature-item-text: #ffffff;
    --theme-feature-item-hover: #ffffff;
    --theme-feature-item-alternative: #352245;
    --theme-feature-item-alternative-text: #ffffff;
    --theme-feature-item-hover-text: #352245;
    --theme-feature-item-selected: #352245;
    --theme-feature-item-selected-text: #ffffff;
    --theme-feature-item-indicator: #352245;
    --theme-secondary-feature: #352245;
    --theme-button-special-choice: #352245;
    --theme-heading-background: #352245;
    --theme-heading-text: #ffffff;
    --theme-chart-background: #352245;
    --theme-chart-price: #352245;
    --theme-button: #352245;
    --theme-button-active: #352245;
    --theme-button-text: #ffffff;
    --theme-button-light: #ffffff;
    --theme-button-light-text: #352245;
    --theme-button-inner-box: #352245;
    --theme-action-button: #ffffff;
    --theme-action-button-text: #ffffff;
    --theme-action-button-text-hover: #ffffff;
    --theme-option-button: #352245;
    --theme-option-button-hover: #ffffff;
    --theme-option-button-text: #352245;
    --theme-switch-button: #352245;
    --theme-option-heading-button: #352245;
    --theme-option-heading-button-hover: #ffffff;
    --theme-option-heading-button-text: #ffffff;
    --theme-input-toggle-choice: #ffffff;
    --theme-input-toggle-choice-text: #ffffff;
    --theme-input-field-border: #352245;
    --theme-modal-footer-button: #ffffff;
    --theme-modal-footer-button-text: #ffffff;
    --theme-explanation-background: #ffffff;
    --theme-explanation-text: #ffffff;
    --theme-settings: #ffffff;
    --theme-settings-hover: #ffffff;
    --theme-settings-sub: #ffffff;
    --theme-settings-button: #ffffff;
    --theme-settings-heading: #ffffff;
    --theme-settings-border: #f1f2f8;
    --theme-settings-text: #ffffff;
    --theme-settings-text-hover: #ffffff;
    --theme-settings-switch: #f1f4f7;
    --theme-settings-control-title: #000000;
    --theme-voting-banner-background: #ffffff;
    --theme-voting-banner-text: #ffffff;
    --theme-voting-banner-button: #ffffff;
    --theme-voting-banner-button-hover: #ffffff;
    --theme-voting-banner-button-text: #352245;
    --theme-voting-banner-button-text-hover: #ffffff;
    --theme-fee-gradient-start: var(--theme-modal);
    --theme-fee-gradient-end: rgba(0, 124, 255, .2);
    --theme-fee-handler-outside: var(--theme-button-text);
    --theme-fee-handler-inside: var(--theme-modal);
    --theme-fee-range-track: var(--theme-page-text-light);
    --theme-fee-range-track-active: var(--theme-button-text);
    --theme-fee-range-shadow: rgba(9, 100, 228, .34);
}
